In [1]:
import pandas as pd

In [4]:
from ucimlrepo import fetch_ucirepo

# fetch dataset 
primary_tumor = fetch_ucirepo(id=83)

# data (as pandas dataframes) 
X = primary_tumor.data.features
y = primary_tumor.data.targets

# metadata 
print(primary_tumor.metadata)

{'uci_id': 83, 'name': 'Primary Tumor', 'repository_url': 'https://archive.ics.uci.edu/dataset/83/primary+tumor', 'data_url': 'https://archive.ics.uci.edu/static/public/83/data.csv', 'abstract': 'From Ljubljana Oncology Institute', 'area': 'Health and Medicine', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 339, 'num_features': 17, 'feature_types': ['Categorical'], 'demographics': ['Age', 'Sex'], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1987, 'last_updated': 'Thu Mar 07 2024', 'dataset_doi': '10.24432/C5WK5Q', 'creators': ['M. Zwitter', 'M. Soklic'], 'intro_paper': None, 'additional_info': {'summary': 'This is one of three domains provided by the Oncology Institutenthat has repeatedly appeared in the machine learning literature.\r\n\r\n(See also breast-cancer and lymphography.)', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '--- NOTE: All attribute values in the database have been entered as numeric values corresponding to their index in the list of attribute values for that attribute domain as given below.\r\n   1. class: lung, head & neck, esophasus, thyroid, stomach, duoden & sm.int, colon, rectum, anus, salivary glands, pancreas, gallblader, liver, kidney, bladder, testis, prostate, ovary, corpus uteri, cervix uteri, vagina, breast\r\n   2. age:   <30, 30-59, >=60\r\n   3. sex:   male, female\r\n   4. histologic-type: epidermoid, adeno, anaplastic\r\n   5. degree-of-diffe: well, fairly, poorly\r\n   6. bone: yes, no\r\n   7. bone-marrow: yes, no\r\n   8. lung: yes, no\r\n   9. pleura: yes, no\r\n  10. peritoneum: yes, no\r\n  11. liver: yes, no\r\n  12. brain: yes, no\r\n  13. skin: yes, no\r\n  14. neck: yes, no\r\n  15. supraclavicular: yes, no\r\n  16. axillar: yes, no\r\n  17. mediastinum: yes, no\r\n  18. abdominal: yes, no', 'citation': 'This primary tumor domain was obtained from the University Medical Centre, Institute of Oncology, Ljubljana, Yugoslavia. Thanks go to M. Zwitter and M. Soklic for providing the data. Please include this citation if you plan to use this database.'}}

In [5]:

# variable information 
print(primary_tumor.variables)

               name     role     type demographic description units  \
0             class   Target  Integer        None        None  None
1               age  Feature  Integer         Age        None  None
2               sex  Feature  Integer         Sex        None  None
3   histologic-type  Feature  Integer        None        None  None
4   degree-of-diffe  Feature  Integer        None        None  None
5              bone  Feature  Integer        None        None  None
6      bone-marryow  Feature  Integer        None        None  None
7              lung  Feature  Integer        None        None  None
8            pleura  Feature  Integer        None        None  None
9        peritoneum  Feature  Integer        None        None  None
10            liver  Feature  Integer        None        None  None
11            brain  Feature  Integer        None        None  None
12             skin  Feature  Integer        None        None  None
13             neck  Feature  Integer        None        None  None
14  supraclavicular  Feature  Integer        None        None  None
15          axillar  Feature  Integer        None        None  None
16      mediastinum  Feature  Integer        None        None  None
17        abdominal  Feature  Integer        None        None  None

   missing_values
0              no
1              no
2             yes
3             yes
4             yes
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12            yes
13             no
14             no
15            yes
16             no
17             no

In [6]:
X

,age,sex,histologic-type,degree-of-diffe,bone,bone-marryow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal
0,1,1.0,NaN,3.0,2,2,1,2,2,2,2,2.0,2,2,2.0,2,2
1,1,1.0,NaN,3.0,2,2,2,2,2,1,2,2.0,2,1,2.0,1,2
2,1,2.0,2.0,3.0,1,2,2,2,2,2,2,2.0,2,2,2.0,1,2
3,1,2.0,NaN,3.0,1,2,1,1,2,2,2,2.0,2,2,2.0,1,2
4,1,2.0,NaN,3.0,1,2,1,1,2,2,2,2.0,2,2,2.0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,2,2.0,2.0,NaN,2,2,2,2,2,2,2,2.0,2,2,1.0,2,2
335,2,2.0,2.0,NaN,2,2,2,2,2,2,2,2.0,2,2,1.0,2,2
336,2,2.0,NaN,NaN,1,2,2,2,2,2,2,2.0,2,1,1.0,2,2
337,3,2.0,2.0,2.0,2,2,2,2,2,2,2,2.0,1,1,1.0,2,2
338,3,2.0,2.0,2.0,2,2,2,2,2,2,2,2.0,2,1,1.0,2,2

In [7]:
y

     class
0        1
1        1
2        1
3        1
4        1
..     ...
334     22
335     22
336     22
337     22
338     22

[339 rows x 1 columns]

In [8]:
data = X.join(y)
data

,age,sex,histologic-type,degree-of-diffe,bone,bone-marryow,lung,pleura,peritoneum,liver,brain,skin,neck,supraclavicular,axillar,mediastinum,abdominal,class
0,1,1.0,NaN,3.0,2,2,1,2,2,2,2,2.0,2,2,2.0,2,2,1
1,1,1.0,NaN,3.0,2,2,2,2,2,1,2,2.0,2,1,2.0,1,2,1
2,1,2.0,2.0,3.0,1,2,2,2,2,2,2,2.0,2,2,2.0,1,2,1
3,1,2.0,NaN,3.0,1,2,1,1,2,2,2,2.0,2,2,2.0,1,2,1
4,1,2.0,NaN,3.0,1,2,1,1,2,2,2,2.0,2,2,2.0,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,2,2.0,2.0,NaN,2,2,2,2,2,2,2,2.0,2,2,1.0,2,2,22
335,2,2.0,2.0,NaN,2,2,2,2,2,2,2,2.0,2,2,1.0,2,2,22
336,2,2.0,NaN,NaN,1,2,2,2,2,2,2,2.0,2,1,1.0,2,2,22
337,3,2.0,2.0,2.0,2,2,2,2,2,2,2,2.0,1,1,1.0,2,2,22
338,3,2.0,2.0,2.0,2,2,2,2,2,2,2,2.0,2,1,1.0,2,2,22

In [ ]:
data.to_csv('primary_tumor.csv', index=False)