In [1]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('titanic_dataset.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
data.drop(['PassengerId', 'Name', 'Ticket', 'Embarked', 'Sex', 'Cabin'], axis=1, inplace=True)
data

     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
888         0       3   NaN      1      2  23.4500
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[891 rows x 6 columns]

In [23]:
data

     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
888         0       3   NaN      1      2  23.4500
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[891 rows x 6 columns]

data

Imputing using Linear regression

In [24]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
traindf = data[data['Age'].isnull()==False]
traindf

     Survived  Pclass   Age  SibSp  Parch     Fare
0           0       3  22.0      1      0   7.2500
1           1       1  38.0      1      0  71.2833
2           1       3  26.0      0      0   7.9250
3           1       1  35.0      1      0  53.1000
4           0       3  35.0      0      0   8.0500
..        ...     ...   ...    ...    ...      ...
885         0       3  39.0      0      5  29.1250
886         0       2  27.0      0      0  13.0000
887         1       1  19.0      0      0  30.0000
889         1       1  26.0      0      0  30.0000
890         0       3  32.0      0      0   7.7500

[714 rows x 6 columns]

In [25]:
testdf = data[data['Age'] == True]
testdf

     Survived  Pclass  Age  SibSp  Parch     Fare
164         0       3  1.0      4      1  39.6875
172         1       3  1.0      1      1  11.1333
183         1       2  1.0      2      1  39.0000
381         1       3  1.0      0      2  15.7417
386         0       3  1.0      5      2  46.9000
788         1       3  1.0      1      2  20.5750
827         1       2  1.0      0      2  37.0042

In [26]:
y = traindf['Age']
y

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64

In [27]:
traindf.drop("Age",axis=1,inplace=True)
traindf

C:\Users\Nicolaus\AppData\Local\Temp\ipykernel_20920\1056097834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  traindf.drop("Age",axis=1,inplace=True)

     Survived  Pclass  SibSp  Parch     Fare
0           0       3      1      0   7.2500
1           1       1      1      0  71.2833
2           1       3      0      0   7.9250
3           1       1      1      0  53.1000
4           0       3      0      0   8.0500
..        ...     ...    ...    ...      ...
885         0       3      0      5  29.1250
886         0       2      0      0  13.0000
887         1       1      0      0  30.0000
889         1       1      0      0  30.0000
890         0       3      0      0   7.7500

[714 rows x 5 columns]

In [31]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

lr.fit(traindf,y)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [30]:
testdf.drop("Age",axis=1,inplace=True)
pred = lr.predict(testdf)
testdf['Age']= pred

C:\Users\Nicolaus\AppData\Local\Temp\ipykernel_20920\3763026336.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdf.drop("Age",axis=1,inplace=True)

AttributeError: 'LogisticRegression' object has no attribute 'coef_'